body {
    overflow-x: hidden;
}

#arkaPlan {
    background-color: black;
    color: white;
}

#logo {
    width: 20%;
    height: 20%;

}

#navnav {
    background-color: black;
}

#navId {
    padding-left: 10%;
}

#navId ul li a:hover {
    transition: all .3s ease-in-out;
}

#navId a {
    color: white;
    border-radius: 10%;
    margin-left: 20px;
    text-align: center;
    transition: all .3s ease-in-out;
}

#navId a:hover {
    background-color: firebrick;
}

#aktif {
    font-weight: bold;
    text-decoration: underline;
}

#linkler {
    margin-left: 25%;
}

a .profil {
    width: 50px;
}

#sagust {
    padding-left: 20%;

}

#sagust a {
    color: white;
}

.toggler {
    width: 30px;
    height: 30px;
    background-color: white;
    position: relative;
    border-radius: 30px;
}

.tBall {
    width: 20px;
    height: 21px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;
    transition: all .3s ease-in-out;
}

.toggle-icon {
    color: goldenrod;
}

/* ! SIDEBAR SECTION */

.sidebar {
    background-color: black;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
}

.left-sidebar {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

.left-sidebar .nav-link {
    font-weight: 600;
}

#solYan a {
    color: white;
}



/* ! CONTENT SECTION */


.content-wrapper {}

.featured-content {}

.featured-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.margin {
    margin-top: 1%;
    margin-left: 3%;
}

#resUst {
    bottom: 0;
    padding: 15% 2%;
}

.featured-desc {
    margin-top: 3%;
    width: 500px;
    background-color: rgba(179, 162, 118, 0.3);
    border-radius: 2px;
}

.featured-buttons {
    margin-top: 3%;

}

#btn1-2 {
    width: 20%;
    font-weight: bold;
    transition: all .3s ease-in-out;
}

.btnilk {
    background-color: rgba(179, 162, 118, 0.6);
}

.btnilk:hover {
    background-color: rgba(179, 162, 118, 0.8);
}

.btniki {
    margin-left: 20px;
    background-color: rgba(179, 162, 118, 0.3);
    color: rgba(255, 255, 255, 0.7);
}

#mtx {
    height: auto;
}



/* ! FILTER SECTION */
.category {
    color: white;
    background-color: black;
    width: 10%;
    margin-left: 5%;
}

/* ! MOVIE LIST SECTION */

.movie-list {
    height: 300px;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 30px;
    transform: translateX(0);
    transition: 1s all ease-in-out;
}

.movie-list-wrapper {
    overflow: hidden;
    position: relative;
}

.movie-list-container {
    margin-left: 5%;
}

.etiket {
    margin-top: 2%;
}

.mImg {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: all .3s ease-in-out;
}

.movie-item {
    position: relative;
}

.movie-item:hover .movie-item-title {
    opacity: 1;
}

.movie-item:hover .movie-item-buttons {
    opacity: 1;
}

#daralt {
    width: 200%;
    padding: 10px;
    box-sizing: border-box;
}

.movie-item:hover .mImg {
    transform: scale(1.1);
    opacity: .7;
}

.movie-item-title {
    position: absolute;
    top: 20%;
    width: 230px;
    text-align: center;
    left: 10%;
    font-weight: bold;
    border-radius: 2px;
    transition: all .3s ease-in-out;
    opacity: 0;
}

.movie-item-buttons {
    position: absolute;
    bottom: 25%;
    left: 25%;
    font-weight: bold;
    background-color: #6d74841e;
    border-radius: 2px;
    transition: all .3s ease-in-out;
    opacity: 0;
}

.movie-item-buttons #size {
    font-size: 14px;
}

#size {
    font-size: xx-small;
    color: white;
}

#size i {
    opacity: 0.5;
    transition: all .3s ease-in-out;
}

#size i:hover {
    opacity: 1;

}

#daralt li {
    width: 25%;
    margin: 0px;
}

.arrow {
    width: 100px;
    display: flex;
    font-size: 120px;
    position: absolute;
    right: 0;
    top: 100px;
    opacity: .5;
    transition: all .3s ease-in-out;
}

.arrow:hover {
    opacity: 1;
    cursor: pointer;
}


/* !DARK MODE START */

#arkaPlan.active {
    background-color: white;
    color: black;
}

#navnav.active {
    background-color: white;
    color: black;
}

#navnav a.active {
    color: black;
}

#mode.active {
    background-color: white;
}

#mode a.active {
    color: black;
}

.category.active {
    background-color: white;
    color: black;
}

.toggler.active {
    background-color: black;
}

.tBall.active {
    background-color: white;
    transform: translateX(-20px);
}

/* ! RESPONSIVE */
@media only screen and (max-width:1080px) {
    #logo {
        display: none;
    }

    .profil {
        display: none;
    }

    .ek-1 {
        display: none;
    }

    .toggler {
        display: inline;
    }

    #sagust {
        width: 1000px;
    }
    .arrow {
        font-size: 60px;
        right: 0;
        top: 120px;
    }
    .movie-item:hover .movie-item-info{
        display: none;
    }
}

@media only screen and (max-width:800px) {
    #logo {
        display: none;
    }

    #linkler {
        width: 200px;
        padding-left: 0px;
        margin-left: 0px;
    }

    #sagust {
        width: 150%;
        /* display: none; */
    }

    .profil {
        display: none;
    }

    #ek-1 {
        display: none;
    }

    #sagust {
        margin-left: 10%;
    }
}

@media only screen and (max-width:620px) {
    #linkler {
        width: 200px;
        padding-left: 0px;
        margin-left: 0px;
    }

    #sagust {
        width: 150%;
        /* display: none; */
    }
    .arrow {
        font-size: 45px;
    }
}

@media only screen and (max-width:580px) {
    #linkler {
        margin-left: 70px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .profil {
        display: none;
    }
    #ek-1 {
        display: none;
    }
    #sagust {
        margin-left: 10%;
    }
    .toggler i{
        display: none;
    }
}